@import '../../styles/variables.scss';
.grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  grid-column-gap: 1em;
  overflow: hidden;
}

.card {
  background: $primary-card;
  padding: 2em;
  position: relative;
}

.cardLeft {
    text-align: center;
}

.profileImage {
    display: inline-block;
    border: $border solid $border-color;
    box-shadow: 0 5px 15px $box-shadow-color;
    cursor: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMTBoLTJ2Mkg5di0ySDdWOWgyVjdoMXYyaDJ2MXoiLz48L3N2Zz4=), auto;
}

.noMarginTop {
    margin-top: 0;
}

.name {
    text-align: center;
}

@media screen and (max-width: $max-960) {
  .grid {
    grid-template-columns: 40% 60%;
  }
}

@media screen and (max-width: $max-768) {
  .grid {
    grid-template-columns: 100%;
    grid-row-gap: 1em;
  }
}