@import '~styles/variables';
@import '~styles/mixins';

.button {
  display: block;
  position: relative;
  padding: 8px 20px;
  margin-bottom: 1em;
  color: $primary-color-text;
  text-align: center;
  font-size: $button-size;
  cursor: pointer;
  background: $primary-button-color;
  border-radius: $border-radius;
  border: 0;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow 0.25s ease-out, background 0.15s ease-out, color 0.2s ease-out;

  &:hover {
    background: darken($primary-button-color, 100%);
    box-shadow: $box-shadow;
  }

  &:focus {
    background: lighten($primary-button-color, 5%);
  }
}

.fullWidth {
  width: 100%;
}

.purple {
  background: $primary-color;

  &:hover {
    background: darken($primary-color, 15%);
  }

  &:focus {
    background: darken($primary-color, 15%);
  }
}

.facebook {
  background: $facebook;

  &:focus,
  &:hover {
    background: lighten($facebook, 5%);
  }
}

.twitter {
  background: $twitter;

  &:focus,
  &:hover {
    background: darken($twitter, 10%);
  }
}

.google {
  background: $google;

  &:focus,
  &:hover {
    background: lighten($google, 5%);
  }
}

.icon {
  position: absolute;
  right: 4%;
  top: 10px;
  transition: position 0.25s ease-out;
}

.icon.left {
  position: relative;
  top: 8px;
}

.button:hover .icon {
  animation: forwardBackInfinite 1.2s infinite;
}

@keyframes forwardBackInfinite {
  0% {
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(5px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
