@import '~styles/variables';

.svg {
  width: 100%;
  fill: $border-color;
  transition: fill 0.2s ease-out;
}

.uploadPhotoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-column-gap: 1em;
}

.dropzoneBoxText {
  align-self: center;
  max-width: 200px;
  color: $border-color;
  text-align: center;
}

.dropzoneContainer {
  display: grid;
  border-radius: 1px;
  border-width: 2px;
  border-color: $border-color;
  border-style: dashed;
  transition: border 0.1s ease-out;

  &:hover {
    border-color: $border-color-dark;

    .svg {
      fill: $border-color-dark;
    }

    .dropzoneBoxText {
      color: $border-color-dark;
    }
  }
}

.dropzoneContainerInner {
  display: grid;
  padding: 2em 0.6em;
  cursor: pointer;
  grid-template-rows: 1fr 1fr;
  transition: color 0.2s ease-out;
}

.dropzoneBoxImage {
  align-self: center;
}

.imagePreviewContainer {
  max-height: 291px;
}

.fieldsetButton {
  margin-top: 1em;
}

.fakeFrame {
  display: grid;
  width: 100%;
  border: 1px solid $border-color;
  align-content: center;
}

@media screen and (max-width: $max-480) {
  .uploadPhotoContainer {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }

  .dropzoneContainerInner {
    padding: 3em;
  }

  .fakeFrame {
    display: none;
  }
}
