@import '~styles/variables';

.container {
  margin: 15px 0;
  text-align: center;
}

.pagination {
  display: block;
}

.pagination a {
  display: inline;
  padding: 8px 14px;
  color: $text-dark;
  cursor: pointer;
  border-radius: $border-radius;
  text-decoration: none;
  transition: background-color $hover-transition;

  &.active {
    color: $primary-white;
    background-color: $primary-pink;
  }

  &:hover:not(.active) {
    background-color: $primary-grey;
  }
}

.numberContainer {
  display: block;
  position: relative;
  top: 13px;
  padding-top: 8px;
  min-width: 508px;
  min-height: 37px;
  overflow: hidden;

  div {
    display: none;
    position: absolute;
    top: 7px;
    left: 0;

    &.active {
      display: block;
    }
  }
}
