@import '~styles/variables';

.iconArrowForward {
  fill: $primary-white;
}

.container {
  margin: 0 auto;
  max-width: $max-480;

  p {
    margin: 4em 0 2em;
    padding: 0 12px;
    text-align: center;
    font-size: 18px;
  }
}
