{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": ["transform-decorators-legacy", "syntax-dynamic-import"],
  "sourceMaps": "inline",
  "retainLines": true
}
