@import '~styles/variables';

.container {
  padding: $gutter 0;
}

.row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.row > .cell {
  flex: 1;
  margin: 0 $gutter;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
