/***
*  This file is imported in components/app-layout/AppLayout.scss
*/

@import './variables';
@import './mixins';
@-ms-viewport {
    // stylelint-disable-line
    width: device-width;
}

@-o-viewport {
    // stylelint-disable-line
    width: device-width;
}

@viewport {
    width: device-width;
}

// inherited from <html>
*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

body,
html,
#app {
    min-height: 100vh;
}

html {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    @include responsive-font(1.5vw, 16px, 16px);
    background: $primary-background;
    position: relative;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    letter-spacing: .5px;
    color: $text-dark; // iOS on orientation change
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

img {
    // stylelint-disable-line
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    @include responsive-font(10vw, 40px, 60px);
    line-height: 1.2;
    color: $text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    color: $text-dark;
}

ul {
    list-style-type: none;
    padding: 0;
}

a::active,
a::link,
a::visited {
    color: $primary-black;
}

a::hover {
    transition: color $hover-transition ease-out;
    color: $primary-red;
}

.link-slideright {
    color: $primary-pink;
    position: relative;
    display: inline-block;
    outline: none;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 2px;
}

button.link-slideright {
    background: transparent;
    border: 0;
    padding: 0 0 2px 0;
    cursor: pointer;
}

.link-slideright::hover {
    color: darken($primary-pink, 20%);
}

.link-slideright::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: darken($primary-pink, 20%);
    transition: transform .3s;
    transform: scaleY(0.618) translateX(100%);
}

.link-slideright:focus::after,
.link-slideright:hover::after {
    transform: scaleY(0.618) translateX(0);
}

fieldset {
    border: 0;
}

.cardContainer {
    max-width: $max-480;
    margin: 0 auto;
}

.card {
    background: $primary-card;
    padding: 3em 1em 1em;
    position: relative;
    overflow-x: hidden;
}

.visually-hidden {
    @extend %visuallyhidden;
}

// placeholders
input,
textarea,
select {
    // stylelint-disable-line
    &::-webkit-input-placeholder {
        color: $color-placeholder;
    }
    &::-moz-placeholder {
        opacity: 1;
        color: $color-placeholder;
    }
    &:-ms-input-placeholder {
        color: $color-placeholder;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}