.ReactModal__Body--open {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: hidden;
}

.ReactModal__Content {
  opacity: 0;
  transform: scale(0.7);
  transition: transform 0.3s;

  &--after-open {
    opacity: 1;
    transform: scale(1);
  }

  &--before-close {
    opacity: 0;
    transform: scale(0.7);
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: transform 0.3s;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}
