@import '~styles/variables';
@import '~styles/mixins';

.pagination {
  display: flex;
  justify-content: left;
  padding: 10px 0;
  margin: 30px 0;
  overflow-x: scroll;
  overflow-y: hidden;

  @include viewport(tablet) {
    justify-content: center;
    overflow-x: initial;
    overflow-y: initial;
  }

  li {
    display: inline;

    &.active a {
      color: $primary-white;
      background-color: $primary-color;
    }
  }

  // stylelint-disable-next-line
  a {
    display: inline;
    padding: 8px 14px;
    color: $text-dark;
    cursor: pointer;
    border-radius: $border-radius;
    text-decoration: none;
    transition: background-color $hover-transition;

    &:hover:not(.active) {
      background-color: $primary-grey;
    }
  }
}
