@import './variables';
@import './mixins';

/*
  React-dates overrides
*/
.SingleDatePickerInput,
.DateRangePickerInput {
  color: $text-dark;
  border-radius: $border-radius;
  border: $input-border-height solid $input-border-color;
}

.DateInput__display-text {
  font-size: $font-size;
}

.DateInput {
  padding: 4px;
}
