// Colors
$primary-color-dark: #7b1fa2;
$primary-color: #b03df1;
$primary-color-light: #e1bee7;
$primary-color-text: #fff;
$accent-color: #607d8b;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$primary-background: #fafafa;
$priamry-background-linear: linear-gradient(135deg, #8254ea 0%, #e86dec 100%);
$primary-button-color: #212121;
$primary-yellow: #ffc107;
$primary-red: #f44336;
$primary-green: #4caf50;
$primary-blue: #1271db;
$primary-black: #000;
$primary-white: #fff;
$primary-card: #fff;
$primary-grey: #dfe2e5;
$secondary-black: #2f3238;
$menu-background: #2a394f;
$navbar-background: #a9bac2;
$navbar-text: rgba(255, 255, 255, 0.4);
$text-dark: #484848;
$facebook: #3b5998;
$twitter: #00abf1;
$google: #f44336;
$color-placeholder: #dddfe2;
// Link
$link-color: #404d5b;
// Inputs
$input-border-color: rgba(0, 0, 0, 0.26);
$input-border-height: 1px;
// Animations
$hover-transition: 0.15s;
$transition-duration: 0.15s;
// Borders
$border-radius: 3px;
$border-color: #dddfe2;
$border-color-dark: $text-dark;
$border-color-light: rgba(0, 0, 0, 0.05);
$border: 1px;
$border-height-light: 1px;
$box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
$box-shadow-color: rgba(0, 0, 0, 0.2);
$gutter: 15px;
$container-gutter-mobile: $gutter;
$container-gutter-tablet: 15px;
$container-gutter-desktop: 30px;
// page dimensions
$page-width: 1200px;
$limit: $page-width+($container-gutter-desktop * 2);
// Fonts
$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$button-size: 18px;
$font-color: #333;
$font-color-light: #777;
$font-color-dark: #111;
$line-height: 1.5;
// Timings
$transition-enter: 200ms;
$transition-leave: 500ms;
// Custom break point (Min)
$min-1800: 1800px;
$min-1440: 1440px;
$min-1280: 1280px;
$min-1200: 1200px;
$min-1080: 1080px;
$min-1024: 1024px;
$min-960: 960px;
$min-840: 840px;
$min-768: 768px;
$min-720: 720px;
$min-640: 640px;
$min-600: 600px;
$min-560: 560px;
$min-540: 540px;
$min-480: 480px;
$min-375: 375px;
$min-360: 360px;
$min-320: 320px;
// Custom break points (Max)
$max-1280: 1279px;
$max-1200: 1199px;
$max-1080: 1079px;
$max-1024: 1023px;
$max-960: 959px;
$max-840: 839px;
$max-768: 767px;
$max-720: 719px;
$max-640: 639px;
$max-600: 599px;
$max-540: 539px;
$max-480: 479px;
$max-375: 374px;
$max-360: 359px;
$max-320: 320px;
// Predefined breakpoints
$min-mobile: $min-480;
$min-tablet: $min-720;
$min-desktop: $min-1080;
