$duration:  1s;
$dimension: 3em;

.container {
  position: relative;
  padding: 5em 0;

  p {
    margin-top: 70px;
    text-align: center;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absoulte;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

/**
 * Create the loop delay with
 * the extra keyframes
 */
@keyframes moveup {
  0%,
  60%,
  100% {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg)
      translateZ(0);
  }

  25% {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg)
      translateZ(1em);
  }
}

@keyframes movedown {
  0%,
  60%,
  100% {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg)
      translateZ(0);
  }

  25% {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg)
      translateZ(-1em);
  }
}

/**
 * Square layer styles
 */
.layer {
  display: block;
  position: absolute;
  height: $dimension;
  width: $dimension;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);

  &:nth-of-type(1) {
    margin-top: $dimension/2;
    background: #534a47;
    animation: movedown $duration cubic-bezier(0.39, 0.575, 0.565, 1) $duration/2 infinite normal;

    &::before {
      content: '';
      position: absolute;
      width: 85%;
      height: 85%;
      background: #37332f;
    }
  }

  &:nth-of-type(2) {
    margin-top: $dimension/4;
    background: #f478dc;
  }

  &:nth-of-type(3) {
    background: rgba(255, 255, 255, 0.6);
    animation: moveup $duration cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
  }
}
