@import '~styles/mixins';
@import '~styles/variables';

.container {
  margin: 0 auto;
  max-width: $max-480;
}

.containerInner {
  position: relative;
  padding: 3em 1em 1em;
  background: $primary-white;
  overflow-x: hidden;

  @include viewport(handset) {
    padding: 3em 0 1em;
  }
}

.fullWidth {
  width: 100%;
}

.centerLink {
  margin-top: 9px;
}

.textCenter {
  text-align: center;
}

.back {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  padding-bottom: 1em;
  text-align: center;
  cursor: pointer;
}

.back button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  svg {
    width: 30px;
    height: 30px;
    fill: $text-dark;

    &:hover {
      fill: $primary-black;
    }
  }
}

.iconArrowBackward {
  fill: $text-dark;
}

.containerAuth {
  width: 100%;
  min-width: 100%;
}

.mb25 {
  margin-bottom: 25px;
}
