@import '~styles/variables';

.container {
  padding: 0 30px;
  background: $priamry-background-linear;
}

.noActive {
  border-bottom: none;
}

.active {
  color: rgba(255, 255, 255, 0.8);
}

.menuIcon {
  height: 50px;
  width: 50px;
  fill: $primary-white;
}
