@import '~styles/variables';

.container {
  padding: 0 30px;
  background: $primary-color;
}

.noActive {
  border-bottom: none;
}

.logo {
  align-self: center;
  font-weight: bold;
  font-size: 20px;
}
