.minHeight200 {
  min-height: 200px;
}

.modal {
  padding: 4em 1em 2em;

  > div {
    display: grid;
    grid-template-columns: 150px 1fr;

    > div {
      font-weight: bold;
    }
  }
}
