.minHeight200 {
  min-height: 200px;
}

.modal {
  padding: 0 0 2em;

  .row {
    display: grid;
    grid-template-columns: 150px 1fr;

    > div:nth-child(1) {
      font-weight: bold;
    }

    > div:nth-child(2) {
      font-size: 14px;
    }
  }
}

.title {
  font-size: 30px;
}
