@import '~styles/variables';
@import '~styles/mixins';

.button {
  display: block;
  position: relative;
  padding: 8px 20px;
  margin-bottom: 1em;
  color: $button-color;
  text-align: center;
  cursor: pointer;
  border-radius: $border-radius;
  border: 0;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow 0.25s ease-out, transform 0.20s ease-out, opacity 0.10s ease-out, background 0.15s ease-out, color 0.2s ease-out;

  &:hover {
    opacity: 0.9;
    color: $button-color-hover;
    box-shadow: $box-shadow;
    transform: translate3d(0, -4px, 0);
  }

  &:focus {
    color: $button-color-hover;
    background: darken($button-background, 5%);
    outline: 0;
  }
}

.fullWidth {
  width: 100%;
}

.purple {
  background: $primary-purple;

  &:focus,
  &:hover {
    background: darken($primary-purple, 15%);
  }
}

.facebook {
  background: $facebook;

  &:focus,
  &:hover {
    background: lighten($facebook, 5%);
  }
}

.twitter {
  background: $twitter;

  &:focus,
  &:hover {
    background: darken($twitter, 10%);
  }
}

.google {
  background: $google;

  &:focus,
  &:hover {
    background: lighten($google, 5%);
  }
}

.default {
  background: $button-background;

  &:hover {
    background: darken($button-background, 15%);
  }
}

.icon {
  position: absolute;
  right: 4%;
  top: 8px;
  transition: position 0.25s ease-out;
}

.icon.left {
  position: relative;
  top: 8px;
}

.button:hover .icon {
  animation: forwardBackInfinite 1.2s infinite;
}
@keyframes forwardBackInfinite {
  0% {
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(5px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
