@import '~styles/mixins';
@import '~styles/variables';

.minHeight200 {
  min-height: 200px;
}

.modal {
  padding: 0 0 2em;

  .row {
    display: grid;
    grid-template-columns: 150px 1fr;

    > div:nth-child(1) {
      font-weight: bold;
    }

    > div:nth-child(2) {
      font-size: 14px;
    }
  }

  .rowPadding {
    margin: 5px 0;
    padding: 5px 0;
  }
}

.title {
  font-size: 30px;
}

.overflowHidden {
  overflow: hidden;
}

.searchInputContainer {
  padding: 0;
  margin-bottom: 15px;
  max-width: 400px;
  min-width: 300px;
}

.searchIcon {
  position: relative;
  top: 3px;
}

.inputContainer {
  display: flex;
  flex-direction: row;

  > div {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
