@import '~styles/variables';
@import '~styles/mixins';

.pullRight {
  text-align: right;

  button {
    margin: 0 7.5px;
  }
}

.textCenter {
  text-align: center;
}

.deleteContainer {
  padding: 2em 0;
}

.svg {
  width: 100%;
  fill: $border-color;
  transition: fill 0.2s ease-out;
}

.profileImageLabel {
  margin-bottom: 15px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  @include viewport(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em 1em;

    > div:first-child fieldset {
      margin-bottom: 0;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr;

  @include viewport(handset) {
    grid-template-columns: 1fr;
  }
}

.formContainer {
  margin-top: 2em;
}

.checkbox {
  display: inline-block;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
