@import '../../../styles/variables.scss';
.spinner {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: -50px auto 1em;
    text-align: center;
    z-index: 2;
}

.ball {
    width: 20px;
    height: 20px;
    fill: $primary-pink;
    display: inline-block;
    animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.text {
    color: $primary-pink;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

@keyframes motion {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(-50px) scale(0.3);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(50px) scale(0.3);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}