@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
.heading {
    color: $text-dark;
    text-align: center;
    margin: 0;
}

.medium {
    @include responsive-font(10vw, 25px, 40px);
}

@media only screen and (min-width: $min-320) {
    .heading {
        padding: 0 0 1em;
    }
}