@import '~styles/variables';

.exit {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: $text-dark;
  transition: fill $hover-transition;

  &:hover {
    fill: $primary-black;
  }

  &.white {
    opacity: 0.9;
    fill: $primary-white;

    &:hover {
      opacity: 1;
    }
  }
}

.modalInner {
  position: relative;
  width: 100%;
  max-width: $max-480;
  min-width: $min-320;
  max-height: 700px;
  pointer-events: all;
  background: $primary-white;
  overflow-y: auto;
  overflow-x: hidden;

  &.mv360 {
    max-width: 360px;
  }

  &.mw768 {
    max-width: 768px;
  }

  &.mw992 {
    max-width: 992px;
  }
}

@media screen and (max-width: $max-768) {
  .modalInner {
    max-height: 560px;
  }
}

@media screen and (max-width: $max-768) and (min-height: $min-768) {
  .modalInner {
    max-height: $max-768;
  }
}

@media screen and (max-height: 600px) {
  .modalInner {
    max-height: $max-480;
  }
}

@media screen and (max-height: 480px) {
  .modalInner {
    max-height: 400px;
  }
}

@media screen and (max-height: 400px) {
  .modalInner {
    max-height: 320px;
  }
}
