@import '~styles/variables';

.nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &.normal {
    border-bottom: 0;
  }
}

.list {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin: 0;
  list-style: none;
}

.nav.normal .list {
  justify-content: flex-start;
}



.left {
  margin-right: auto;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 15px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.link {
  padding: 5px 0;
  font-size: $font-size;
  color: $primary-black;
  text-decoration: none;
  outline: none;
  transition: border-color $hover-transition, color $hover-transition;

  &.active,
  &:hover {
    color: $primary-pink;
  }
}
