@import '~styles/variables';

.nav {
  padding: 10px 0;

  .list {
    justify-content: flex-start;
  }
}

.list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  padding: 0 10px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    margin-left: auto;
  }
}

.link:not(svg) {
  padding: 8px 0;
  font-size: 14px;
  color: $navbar-text;
  text-decoration: none;
  outline: none;
  transition: border-color $hover-transition, color $hover-transition;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

.first .link {
  font-size: 20px;
}

.menu {
  position: relative;
  top: 6px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  fill: $navbar-text;

  &:hover {
    fill: rgba(255, 255, 255, 0.9);
  }
}
