.ml10 {
  position: relative;
}

.ml10 .text-wrapper {
  display: inline-block;
  position: relative;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
