@import '~styles/variables';
@import '~styles/mixins';

.button {
  position: relative;
  padding: 11px 20px;
  margin-bottom: 0.5em;
  color: $button-color;
  font-size: $button-size;
  cursor: pointer;
  border-radius: $border-radius;
  border: 0;
  overflow: hidden;
  transition: box-shadow 0.25s ease-out, background 0.15s ease-out, color 0.2s ease-out;

  &:hover {
    color: $button-color-hover;
    box-shadow: $box-shadow;
  }

  &:focus {
    color: $button-color-hover;
    background: darken($button-background, 5%);
  }
}

.fullWidth {
  width: 100%;
}

.purple {
  background: $primary-purple;

  &:hover {
    background: darken($primary-purple, 15%);
  }

  &:focus {
    background: darken($primary-purple, 15%);
  }
}

.green {
  color: $text-dark;
  background: $primary-green;

  &:hover {
    color: $text-dark;
    background: darken($primary-green, 15%);
  }

  &:focus {
    color: $text-dark;
    background: darken($primary-green, 15%);
  }
}

.grey {
  color: $text-dark;
  background: $primary-grey;

  &:hover {
    color: $text-dark;
    background: darken($primary-grey, 15%);
  }

  &:focus {
    color: $text-dark;
    background: darken($primary-grey, 15%);
  }
}

.default {
  background: $button-background;

  &:hover {
    background: darken($button-background, 15%);
  }
}

.icon {
  position: absolute;
  right: 4%;
  top: 7px;
  transition: position 0.25s ease-out;
}

.button:hover .icon {
  animation: forwardBackInfinite 1.2s infinite;
}

@keyframes forwardBackInfinite {
  0% {
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(5px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
