@import '~styles/variables';

.box {
  padding: 11px 15px 15px;
  margin: 0 0 2em;
  width: 100%;
  color: $primary-white;
  text-align: left;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.error {
  background: $primary-red;
}

.success {
  background: $primary-green;
}

.info {
  background: $primary-blue;
}

.warning {
  background: $primary-yellow;
}

.icon {
  position: relative;
  top: 4px;
  margin-right: 10px;
  fill: $primary-white;
}
