@import '~styles/variables';

.box {
  padding: 11px 15px;
  margin: 0 0 2em;
  width: 100%;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.error {
  background: $primary-red;
}

.success {
  background: $primary-green;
}

.info {
  background: $primary-blue;
}
