@import '~styles/mixins';
@import '~styles/variables';

.container {
  margin: 0 auto;
  max-width: $max-480;
  background: $primary-white;
}

.containerInner {
  position: relative;
  padding: 3em 1em 1em;
  background: $primary-white;
  overflow-x: hidden;

  @include viewport(handset) {
    padding: 3em 0 1em;
  }
}

.containerAuth {
  padding: 4em 2em 2em;
  width: 100%;
  min-width: 100%;

  @include viewport(handset) {
    padding: 2em 1em 1em;
  }
}
