@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.inputField {
  position: relative;
  display: block;
  float: right;
  padding: 11px;
  width: 60%;
  border: none;
  border-radius: $border-radius;
  border: $input-border-height solid $input-border-color;
  background: $primary-white;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  width: 100%;
  box-shadow: 0 0 0 2px transparent;
  color: $text-dark;
  transition: box-shadow .3s;
}

.inputField:focus {
  outline: none;
}

.inputLabel {
  display: inline-block;
  padding: 0 1em;
  width: 40%;
  color: $text-dark;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;
  padding: 0;
  width: 100%;
  text-align: left;
}

.inputLabel::after {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 4em;
  box-shadow: 0 0 0 0;
  color: rgba(0, 0, 0, 0.2);
}

.inputLabelContent {
  position: relative;
  display: block;
  width: 100%;
  padding: .2em .1em;
}

.inputField:focus+.inputLabel {
  pointer-events: none;
}

.inputField:focus+.inputLabel::after {
  animation: anim-shadow .3s forwards;
}

.icon {
  position: absolute;
  right: 4%;
  z-index: 2;
  top: 12%;
  fill: $text-dark;
  transition: fill $hover-transition;
  cursor: pointer;
  &:hover {
      fill: $primary-black;
  }
}
@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0 0 100px 50px;
    opacity: 0;
  }
}
@keyframes anim-shadow {
  to {
    box-shadow: 0 0 100px 50px;
    opacity: 0;
  }
}
