@import '~styles/config';

.container {
  @include container();
  margin-top: 25px;
  .full {
    max-width: none;
    @include viewport(tablet) {
      max-width: none;
    }
    @include viewport(desktop) {
      max-width: none;
    }
  }
}
