@import '~styles/variables';

.textCenter {
  text-align: center;
}

.iconArrowForward {
  fill: $primary-white;
}

.buttonContainer {
  margin: 0 2px;
  padding: 3em 0.625em 0.75em;
}

.mb25 {
  margin-bottom: 25px;
}
