@import '~styles/mixins';
@import '~styles/variables';

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $priamry-background-linear;

  .center {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
  }
}

.signinContainer {
  margin: 0 auto;
  max-width: $max-480;
  background: $primary-white;

  .signinContainerInner {
    position: relative;
    padding: 3em 1em 1em;
    background: $primary-white;
    overflow-x: hidden;

    @include viewport(handset) {
      padding: 3em 0 1em;
    }
  }
}
