@import '~styles/variables';

.input {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  vertical-align: top;
}

.inputField {
  float: right;
  display: block;
  position: relative;
  padding: 11px;
  width: 100%;
  color: $text-dark;
  font-size: $font-size;
  border-radius: $border-radius;
  border: $input-border-height solid $input-border-color;
  background: $primary-white;
  /* stylelint-disable-next-line */
  -webkit-appearance: none; /* for box shadows to show on iOS */
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.3s;
}

.inputField:focus {
  outline: none;
}

.inputLabel {
  display: inline-block;
  padding: 0;
  width: 100%;
  color: $text-dark;
  font-weight: bold;
  text-align: left;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
}

.inputLabelContent {
  display: block;
  position: relative;
  padding: 0.2em 0.1em;
  width: 100%;
}

.inputField:focus + .inputLabel {
  pointer-events: none;
}

.inputField:focus {
  animation: anim-shadow $transition-duration forwards;
}

.icon {
  position: absolute;
  right: 4%;
  z-index: 2;
  top: 55%;
  cursor: pointer;
  fill: $text-dark;
  transition: fill $hover-transition;

  &:hover {
    fill: $primary-black;
  }
}

@keyframes anim-shadow {
  to {
    border: $input-border-height solid $primary-color;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  }
}
