@import '~styles/variables';

.avatar {
  cursor: pointer;
  outline: none;

  img,
  svg {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 100%;
  }

  svg {
    fill: $navbar-text;
  }

  &:hover {
    svg {
      fill: rgba(255, 255, 255, 0.9);
    }
  }
}
