@import '../../../styles/variables.scss';
.circle {
    border-radius: 50%;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.brokenImage {
    fill: $border-color;
}

.brokenImageContainer {
    position: absolute;
    top: 115px;
    left: calc(50% - 25px);
    pointer-events: none;
}