@import '../../../styles/variables.scss';

.box {
    border-radius: $border-radius;
    padding: 11px 15px;
    margin: 0 0 2em;
    width: 100%;
    box-shadow: $box-shadow;
}

.error {
    background: $primary-red;

}

.success {
    background: $primary-green;
}