@import '~styles/variables';

.container {
  flex: 0 0 256px;
  margin-left: -256px;
  height: calc(100vh - 68px);
  width: 100%;
  background: $menu-background;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: margin 0.5s;
}

.open {
  margin-left: 0;
}

.dropdown {
  position: relative;

  ul {
    margin: 0;

    li {
      display: block;
      opacity: 0;
      width: 100%;

      a {
        display: inline-block;
        padding: 1em 18px 1em 33px;
        width: 100%;
        color: $primary-white;
        white-space: pre;
        box-sizing: border-box;
        text-decoration: none;

        &:hover {
          background: $menu-background-hover;
        }

        svg {
          position: relative;
          top: 5px;
          margin-right: 10px;
          height: 20px;
          width: 20px;
          fill: $primary-white;
        }
      }
    }
  }

  &.active {
    ul {
      display: block;
    }
  }
}
