@import '~styles/variables';

.container {
  flex: 0 0 256px;
  height: calc(100vh - 68px);
  width: 100%;
  background: $menu-background;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}

.open {
  transition: all 0.5s;
}
